<div>
  <div>
    <h1>Game score registration</h1>
    <p>Select the game you want to register a score for: </p>
    <select (change)="gameSelected=($event.target.value)" [ngModel]="gameSelected">
      <option  *ngFor="let game of games | async">{{game.name}}
      </option>
    </select>
    <form [formGroup]="gameRegistrationForm" (ngSubmit)="onSubmit()">
      <label>Game played on:
        <input type="date" formControlName="playdate">
      </label>
      <label>Number of players:
        <input type="number" formControlName="playercount" min="1">
      </label>
      <div *ngFor="let player of players">

      </div>
      <button type="submit" [disabled]="!gameRegistrationForm.valid">Submit</button>
    </form>

    <div *ngIf="gameSelected === 'Great Western Trail' && generalGameInfo">
      <app-gwtregistration-form [generalGameInfo]="generalGameInfo"></app-gwtregistration-form>
    </div>
  </div>
</div>

