<div class="container">
  <h2>GWT Scoring Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div><label>Game played on: </label>{{generalGameInfo.playdate}}</div>
    <div><label>Player Count: </label>{{generalGameInfo.playercount}}</div>

    <!-- <div *ngFor="let number of array"> Soon... -->

      <div *ngFor="let control of formTemplate">
      <div [ngSwitch]="control.type">
        <div *ngSwitchCase="'number'">
        <label>{{control.label}}</label>
          <input type="number" formControlName="{{control.label}}" />
        </div>
        <div *ngSwitchCase="'checkbox'">
          <input type="checkbox" formControlName="{{control.label}}" />
        </div>
        <div *ngSwitchCase="'label'">
          <label formControlName="{{control.label}}">{{control.label}}</label>
        </div>
      </div>
      </div>
    <!-- </div> -->
  </form>
</div>
